{% extends 'curso/layout.html' %}

{% block additional_links %}
    <a href="{% url 'curso:disciplina' projeto.disciplina.id %}">Voltar</a>
{% endblock %}

{% block style %}
<style>
    .project-container {
        margin: 3% 4%;
    }
    .project-heading {
        font-size: 1.5em;
        margin: 3%;
    }
    .project-description,
    .project-details,
    .github-link {
        margin: 3%;
    }
    .project-image {
        max-width: 67%;
        height: auto;
        margin:3%;
        border-radius: 10px;
    }
    .project-video {
        width: 67%;
        height: auto;
        border-radius: 10px;
    }
    .github-link {
        margin-top: 1em;
    }
    .editar-link {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
    /* Styling for the "Editar Projeto" link */
    .editar-link a {
        color: #007bff; /* Blueish color */
        text-decoration: none;
        font-size: 16px;
    }
    .editar-link a:hover,
    .editar-link a:active {
        color: #0056b3; /* Darker blue on hover and active */
    }


    /* Media query for smaller screens */
    @media (max-width: 768px) {
        .editar-link a {
            font-size: 14px; /* Reduce font size for smaller screens */
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="project-container">
    <h2 class="project-heading">{{ projeto.nome }}</h2>
    <div class="project-description">{{ projeto.descricao }}</div>
    <div class="project-details">
        <h3>Conceitos Aplicados:</h3>
        <p>{{ projeto.conceitosAplicados }}</p>
        <h3>Tecnologias Usadas:</h3>
        <p>{{ projeto.tecnologiasUsadas }}</p>
    </div>
    {% if projeto.imagem %}
    <img src="{{ projeto.imagem.url }}" alt="{{ projeto.nome }}" class="project-image">
    {% endif %}
    {% if projeto.video_demo %}
    <video controls class="project-video">
        <source src="{{ projeto.video_demo }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}
    {% if projeto.repositorio_github %}
    <div class="github-link">
        <a href="{{ projeto.repositorio_github }}" target="_blank">Link to GitHub Repository</a>
    </div>
    {% endif %}
    <div class="editar-link"><a href="{% url 'curso:edita_projeto' projeto.id %}">Editar Projeto</a></div>
</div>
{% endblock %}
