{% extends 'portfolio/layout.html' %}

{% block style %}
/* Adicione estilos adicionais aqui, se necessário */
.section {
    padding: 5%;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.section1 {
    padding: 5%;
    margin-bottom: 5vh;
    margin-top: 10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#phone {
    color: #6CB2EB;
}
#phoneicon {
    color: #6CB2EB;
    transform: rotate(90deg);
}

.section a {
    color: #6CB2EB;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.texto {
    text-align: left;
    padding-left: 0;
}

ul {
    list-style-position: inside; /* Remove o espaçamento entre o marcador e o texto */
    padding-left: 0;
    text-align:left;

}

li {
    list-style-type: disc;
    margin: 0 0 5px 0; /
    padding-left: 0;
     /
}

.tituloSkill{
list-style-type:none;

}
#cor{
color:#FFD700;
font-weight:500;
}

@media (max-width:768px) {
        .section {

    font-size:0.87em;
}
.section1 {

    font-size:0.87em;
}
        }

{% endblock %}

{% block content %}
<div class="section1">
    <h2>About Me</h2>
    <p class='texto'>My name is Nicole Arquissandas, I'm 19 years old, and I'm in my second year of my bachelor’s degree in computer engineering at Lusófona University of Lisbon. As a person, I'm dedicated and hardworking, with great ambition in growing in my career. Throughout my time at university, I have gained a lot of knowledge and experience in programming in languages like Python, Java, C, C++, Kotlin, and data modeling using SQL. My objectives are obtaining more knowledge and furthering my studies by pursuing a master's degree in this field.</p>
</div>

<div class="section">
    <h2>My Hobbies/Interesses</h2>
    <ul>
        <li>Watching movies/series</li>
        <li>Listening to music</li>
        <li>Playing guitar</li>
    </ul>
</div>

<div class="section">
    <h2>My Skills</h2>
    <ul>
        <li class='tituloSkill'><p id='cor'>Programming:</p>
            <ul>
                <li>C</li>
                <li>Python</li>
                <li>Kotlin</li>
                <li>Java</li>
                <li>C++</li>
            </ul>
        </li>
        <li class='tituloSkill'><p id='cor'>Web Development:</p>
            <ul>
                <li>Python</li>
            </ul>
        </li>
    </ul>
</div>

<div class="section">
    <h2>Contact Me</h2>
    <p>LinkedIn: <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BxHR%2FFdphQiWioYBCfANC0w%3D%3D"><i class="fab fa-linkedin"></i> LinkedIn</a></p>
    <p>Número de telefone: <i class="fa fa-phone" id='phoneicon'></i><span id='phone'> 933528084</span></p>
    <p>Instagram: <a href="https://www.instagram.com/nicole_arquissandas?igsh=aDRlcGJhMjczbjEx&utm_source=qr"><i class="fab fa-instagram"></i> Instagram</a></p>
</div>
{% endblock %}
