{% extends 'bandas/layout.html' %}

{% block style %}
.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.album-cover {
  width: 100%;
  max-width: 300px; /* Aumenta o tamanho da imagem */
  margin-bottom: 15px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.71); /* Shadow effect */
}

.album-details {
  font-size: 18px;
  margin-bottom: 20px;
}

.album-songs {
  width: 100%;
  max-width: 600px;
}

.album-songs ul {
  list-style-type: none;
  padding: 0;
}

.album-songs li {
  background: #A9A9A9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
}

.album-songs a {
  display: flex;
  align-items: center; /* Center items vertically */
  text-decoration: none;
  color: inherit; /* Ensure link text uses inherited color */
  transition: color 0.3s ease;
}

.album-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-actions a {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.album-actions a:hover, .album-songs a:hover {
  color: #FAEBD7;
}

.album-actions a:active, .album-songs a:active {
  color: #E9967A;
}

.album-actions svg, .album-songs svg {
  margin-right: 8px;
  fill: #ffd700;
}

.song-lyrics-icon {
  margin-left: 8px;
  fill: #FFD700; /* Gold color */
}
{% endblock %}

{% block additional_links %}
<a href="{% url 'bandas:banda_detail' album.banda.id %}">Banda</a>
{% endblock %}

{% block content %}
<div class="album-container">
  <h3>{{ album }}</h3>

  <div class="album-info">
    {% if album.capa %}
      <img src='{{ album.capa.url }}' class="album-cover" alt="{{ album }}">
    {% else %}
      <p>No image available</p>
    {% endif %}
    <div class="album-details">
      <p>Ano de Lançamento: {{ album.ano_lancamento }}</p>
    </div>
  </div>

  <div class="album-songs">
    <h4>As suas músicas:</h4>
    <ul>
      {% for musica in musicas %}
        <li>
          <a href="{% url 'bandas:musica_detail' musica.id %}">{{ musica.nome_musica }}
          {% if musica.letra %}
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="music-icon">
            <path d="M497 119c0 21.4-17.3 38.6-38.6 38.6h-50.3v212.9h40.1c21.3 0 38.6 17.2 38.6 38.6s-17.3 38.6-38.6 38.6h-68.7v-326.3H132.9v69.1h-24.4c-21.4 0-38.6-17.3-38.6-38.6V62.3c0-21.4 17.3-38.6 38.6-38.6h338.5c21.4 0 38.6 17.3 38.6 38.6V119zm-356.5 72.7v249.1c0 21.4-17.3 38.6-38.6 38.6h-24.4v-326.3h24.4c21.3 0 38.6 17.2 38.6 38.6zM256 119v273.6c0 21.4-17.3 38.6-38.6 38.6H192V80h25.4c21.3 0 38.6 17.2 38.6 38.6z"/>
          </svg>
          {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="album-actions">
    <a href="{% url 'bandas:nova_musica' album.id %}" title='Nova Música link'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560 500" width="20" height="20"><!-- Font Awesome icon -->
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
      </svg>
      Nova música
    </a>
    <a href="{% url 'bandas:edita_album' album.id %}" title='Editar Álbum link'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20"><!-- Font Awesome icon -->
        <path d="M402.3 344.9l32 32c7.6 7.6 11.8 17.9 11.8 28.6s-4.2 21-11.8 28.6l-50.7 50.7c-7.6 7.6-17.9 11.8-28.6 11.8s-21-4.2-28.6-11.8l-32-32 108-108zM288 448H144c-8.5 0-16.6-3.4-22.6-9.4s-9.4-14.1-9.4-22.6V320l128-128L352 352 288 448zm208-112L320 160 400 80c6.2-6.2 14.3-9.4 22.6-9.4s16.3 3.1 22.6 9.4l101.6 101.6c6.2 6.2 9.4 14.3 9.4 22.6s-3.1 16.3-9.4 22.6L496 336z"/>
      </svg>
      Editar
    </a>
  </div>
</div>
{% endblock %}
