{% extends 'bandas/layout.html' %}
{% block style %}

.band-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-areas:
    'item1 item1'
    'item4 item2'
    'item3 item3';
  gap: 2vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70px 50% 40%;
}

.band-container > div {
  text-align: center;
  padding: 4vh 0vw;
  font-size: 20px;
}

.nomeBanda {
  grid-area: item1;
}

.Biografia {
  grid-area: item2;
}

.bandInfo {
  grid-area: item3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagemBanda {
  grid-area: item4;
}

.imagemBanda img {
  width: 100%;
  max-width: 190vw;
  height: auto;
  border-radius: 200px; /* Rounded corners */
  box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.71);
}

h3 + ul {
  list-style-type: none;
}

#biografiaTexto {
  color: #f2f2f2;
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: italic;
}

#biografiaTexto::first-letter {
  font-size: 2em;
  color: #ffd700;
}

#biografiaTexto::first-line {
  color: #fff7cc;
}

#style2 {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#Phone {
  display: none;
}

[title~='link']:hover {
  color: #FAEBD7;
}

[title~='link']:active {
  color: #E9967A;
}

[title~='album'] {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.8em;
}

ul li {
  background: #A9A9A9;
  margin: 10px 0;
  padding: 0vh 20vw;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .band-container {
    grid-template-areas:
      'item1'
      'item4'
      'item2'
      'item3';
    grid-template-columns: 1fr;
    grid-template-rows: 12% 25% 30% auto;
  }

  .nomeBanda h3 {
    font-size: 2em;
    margin-bottom: -350px;
  }

  .Biografia h3 {
    margin-top: 0px;
  }

  .bandInfo {
    grid-area: item3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #Phone {
    display: block;
  }

  .imagemBanda img {
    width: 100%;
    max-width: 200vw;
    height: auto;
    border-radius: 40px; /* Rounded corners */
    box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.71);
  }

  ul li {
  background: #A9A9A9;
  margin: 10px 25px 5px 0;
  padding: 0vh 20vw;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
}
{% endblock %}
{% block content %}
<div class='band-container'>
  <div class='nomeBanda'><h3>{{ banda }}</h3></div>

  <div class='Biografia'>
    <h3>Biografia</h3>
    <p id=biografiaTexto>{{ banda.biografia }}</p>
  </div>

  <div class='imagemBanda'>
    {% if banda.foto %}
      <img src='{{ banda.foto.url }}' alt='Foto da banda'>
    {% else %}
      <p>No image available</p>
    {% endif %}
  </div>

  <div class='bandInfo'>
    <h3 id=Phone>Mais sobre</h3>
    <p>Nacionalidade: {{ banda.nacionalidade }}</p>
    <p>Ano de criação: {{ banda.ano_criacao }}</p>
    <p>Número de Albums: {{nrAlbums}}</p>
    <p>Número de Musicas: {{nrMusicas}}</p>

    <h3 id='style2'>Os seus albums:</h3>
    <ul>
      {% for album in albums %}
        <li>
          <a href="{% url 'bandas:album_detail' album.id %}" title='album link'>{{ album.titulo_Album }}, {{ album.ano_lancamento }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'bandas:novo_album' banda.id %}" title='Nova Banda link'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560 500" width="20" height="20"><!-- Font Awesome icon -->
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
      </svg>
      Novo album
    </a>

    <a href="{% url 'bandas:edita_banda' banda.id %}" title='Editar Banda link'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20"><!-- Font Awesome icon -->
        <path d="M402.3 344.9l32 32c7.6 7.6 11.8 17.9 11.8 28.6s-4.2 21-11.8 28.6l-50.7 50.7c-7.6 7.6-17.9 11.8-28.6 11.8s-21-4.2-28.6-11.8l-32-32 108-108zM288 448H144c-8.5 0-16.6-3.4-22.6-9.4s-9.4-14.1-9.4-22.6V320l128-128L352 352 288 448zm208-112L320 160 400 80c6.2-6.2 14.3-9.4 22.6-9.4s16.3 3.1 22.6 9.4l101.6 101.6c6.2 6.2 9.4 14.3 9.4 22.6s-3.1 16.3-9.4 22.6L496 336z"/>
      </svg>
      Editar
    </a>
  </div>
</div>
{% endblock %}
