{% extends 'bandas/layout.html' %}

{% block style %}
.container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}



.band-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.band-item img {
    border-radius: 50%; /* Make the image circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
    margin-right: 7vw; /* Add some space between image and band name */

}

.cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 8vw; /* Align with the container margin */
}

.cima .Bandas {
    font-size: 2em;
}


      a:hover {
       color: #FAEBD7;
      }

a:active {
    color: #E9967A;
}
#novaBanda svg {
    width: 5vw; /* Adjust the width as needed */
    height: 5vh; /* Adjust the height as needed */
    vertical-align: middle; /* Aligns the icon with the text */
    fill:#FFD700;

}
div>a{
   margin-left:7vw;
}
#no svg{
margin-left:0vw;
  width: 8vw; /* Adjust the width as needed */
    height: 8vh;

}
@media (max-width: 768px) {
div>a{
   margin-left:15vw;
}
#no svg{
margin-left:7vw;
  width: 8vw; /* Adjust the width as needed */
    height: 8vh;

}
}
{% endblock %}

{% block content %}
<div class="cima">
    <p class="Bandas">Bandas:</p>
    <p id="novaBanda"><a href="{% url 'bandas:nova_banda' %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        Nova banda</a></p>
</div>

<ul class="container">
    {% for banda in bandas %}
        <li class="band-item">
            {% if banda.foto %}
              <img src="{{ banda.foto.url }}" width="90" height="90">
               <a href="{% url 'bandas:banda_detail' banda.id %}">{{ banda.nome_banda }}, {{ banda.ano_criacao }}</a>
            {% else %}
              <p id='no'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></p>
              <div><a href="{% url 'bandas:banda_detail' banda.id %}">{{ banda.nome_banda }}, {{ banda.ano_criacao }}</a></div>
            {% endif %}

        </li>
    {% endfor %}
</ul>
{% endblock %}
