{% extends 'bandas/layout.html' %}

{% block style %}
.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.music-details {
  font-size: 18px;
  margin-bottom: 20px;
}

.music-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-actions a {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.music-actions a:hover {
  color: #FAEBD7;
}

.music-actions a:active {
  color: #E9967A;
}

.music-actions svg {
  margin-right: 8px;
  fill: #ffd700;
}

.spotify-link ul {
  list-style-type: none;
  padding: 0;
}

.spotify-link li {
  background: #A9A9A9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.spotify-link a {
  text-decoration: none;
  color: inherit;
}

.spotify-link a:hover {
  color: #FAEBD7;
}

.spotify-link a:active {
  color: #E9967A;
}

.music-lyrics {
  background-color:#A0A0A0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
  text-align: left;
  white-space: pre-wrap;
  font-family: "Gentium Book Plus", serif;
  font-size: 1em;
  color: #333;
}

.music-lyrics h4 {
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 768px) {

.music-container {
    display: grid;
    grid-template-areas:
      'info'
      'lyrics';
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .music-info {
    grid-area: info;
  }

  .music-lyrics {
    grid-area: lyrics;
    padding: 10px;
    font-size: 0.9em;
  }

  .spotify-link li {
    padding: 10px;
  }

  .music-container {
    padding: 10px;
  }
}
{% endblock %}

{% block additional_links %}
<a href="{% url 'bandas:banda_detail' musica.album.banda.id %}">Banda</a>
<a href="{% url 'bandas:album_detail' musica.album.id %}">Álbum</a>
{% endblock %}

{% block content %}
<div class="music-container">
  <h3>{{ musica.nome_musica }}</h3>

  <div class="music-info">
    <div class="music-details">
      <p>Spotify link:</p>
      <div class="spotify-link">
        {% if musica.link %}
          <ul>
            <li>
              <a href="{{ musica.link }}">Listen on Spotify ({{ musica.nome_musica }} - {{ musica.duracao }})</a>
            </li>
          </ul>
        {% else %}
          <p>Spotify link não disponível</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="music-lyrics">
    <h4>Letras da Música</h4>
    {% if musica.letra %}
      <pre>{{ musica.letra }}</pre>
    {% else %}
      <p>Letras não disponíveis</p>
    {% endif %}
  </div>

  <div class="music-actions">
    <a href="{% url 'bandas:edita_musica' musica.id %}" title='Editar Música link'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20"><!-- Font Awesome icon -->
        <path d="M402.3 344.9l32 32c7.6 7.6 11.8 17.9 11.8 28.6s-4.2 21-11.8 28.6l-50.7 50.7c-7.6 7.6-17.9 11.8-28.6 11.8s-21-4.2-28.6-11.8l-32-32 108-108zM288 448H144c-8.5 0-16.6-3.4-22.6-9.4s-9.4-14.1-9.4-22.6V320l128-128L352 352 288 448zm208-112L320 160 400 80c6.2-6.2 14.3-9.4 22.6-9.4s16.3 3.1 22.6 9.4l101.6 101.6c6.2 6.2 9.4 14.3 9.4 22.6s-3.1 16.3-9.4 22.6L496 336z"/>
      </svg>
      Editar
    </a>
  </div>
</div>
{% endblock %}
