{% extends 'curso/layout.html' %}

{% block content %}
    <h3>Login</h3>

    {% if mensagem %}
      <p>mensagem: {{ mensagem }}</p>
    {% endif %}

    <!-- formulário que pede as credenciais
    e as reenvia para a view 'login'. -->

    <form action="{% url 'autenticacao:loginC' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username..">
      <input type="password" name="password" placeholder="Palavra-chave..">
      <input type="submit">
    </form>

    <a href="{% url 'autenticacao:registoC' %}">
      <button>Registar</button>
    </a>

    <a href="{% url 'autenticacao:reset_passwordC' %}">
      <button>Recuperar Palavra-chave</button>
    </a>

{% endblock %}