{% extends 'artigos/layout.html' %}
{% block style %}
.article-content {
    max-width: 800px;
    margin: 0 10vw;
    padding: 20px;
}

.article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.article-title a {
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.article-title a:hover {
    text-decoration: underline;
}

.article-author {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.article-text {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.article-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.article-links p {
    color: #999;
    margin-right: 10px;
}

.article-links a {
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
}

.article-links a:hover {
    text-decoration: underline;
}

.edit-link {
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
    margin-top: 10px;
}

.edit-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .article-content {
        margin: 0;
        padding: 10px;
    }

    .article-text {
        font-size: 14px;
    }
}

    .article-links p {
        font-size: 12px;
    }
}

{% endblock %}
{% block content %}
    <div class="article-content">
        <div class="article">
            <h2 class="article-title">{{ artigo }}</h2>
            <p class="article-author">Autor: {{ autor.username }}</p>
            <p class="article-text">Conteúdo: {{ artigo.conteudo }}</p>
            <div class="article-links">
                <p>Data de Publicação: {{ artigo.data_publicacao }}</p>
                <div>
                    <a href="{% url 'artigos:comentarios' artigo.id %}">Ver Comentários</a>
                    <a href="{% url 'artigos:ratings' artigo.id %}">Ver Ratings</a>
                </div>
            </div>
            <a href="{% url 'artigos:edita_artigo' artigo.id %}" class="edit-link">Editar Artigo</a>
        </div>
    </div>
{% endblock %}
