{% extends 'artigos/layout.html' %}

{% block style %}
.comment-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-author a {
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
}

.comment-text {
    color: #333;
    font-size: 16px;
}

.comment-date {
    color: #999;
    font-size: 12px;
}

.new-comment-link {
    margin-top: 20px;
}

.new-comment-link a {

    padding: 10px;
    color: #1c7ed6; /* Soft blue */

    text-decoration: none;
    font-weight: bold;

    transition: background-color 0.3s ease;
}

.new-comment-link a:hover {
color: #1565c0; /* Darker blue on hover */
}

.new-comment-link svg {
    vertical-align: middle;
    margin-right: 5px;
}

{% endblock %}
{% block additional_links %}
  <a href="{% url 'artigos:artigoDetails' artigo_id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -4 24 24" width="24" height="24">
        <path d="M19 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H19v-2z"/>
    </svg></a>
{% endblock %}
{% block content %}
<div class="comment-list">
    <h3>{{ Comentarios }}</h3>
    <ul>
        {% for comentario in comentarios %}
        <li class="comment">

                <a href="{% url 'artigos:user' comentario.user_comentario.username %}" class="comment-author">{{ comentario.user_comentario.username }}:</a>
                <a href="{% url 'artigos:comentarioDetail' comentario.id %}" class="comment-text">{{ comentario.texto }}</a>

            <p class="comment-date">{{ comentario.data_publicacao }}</p>



        </li>
        {% endfor %}
    </ul>
    <div class="new-comment-link">
        <a href="{% url 'artigos:novo_comentario' artigo_id %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 440">
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
            Novo Comentário
        </a>
    </div>
</div>
{% endblock %}
