{% extends 'artigos/layout.html' %}
{% block style %}
div{
margin=auto;


}

{% endblock %}
{% block content %}
   <div>
    <h3>Edita Artigo</h3>

    <form action="{% url 'artigos:edita_artigo' artigo.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>

    <a href="{% url 'artigos:artigoDetails' artigo.id %}">
      <button>Cancelar</button>
    </a>

    <a href="{% url 'artigos:apagar_artigo' artigo.id %}">
      <button>Apagar</button>
    </a>
</div>


{% endblock %}