{% extends 'artigos/layout.html' %}
div{
position:absolute;
margin:auto;
text-aligned:center;

}

{% block content %}
<div>
    <h3>Edita comentario</h3>

    <form action="{% url 'artigos:edita_comentario' comentario.id%}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>

    <a href="{% url 'artigos:comentarios' comentario.artigo.id %}">
      <button>Cancelar</button>
    </a>

    <a href="{% url 'artigos:apagar_comentario' comentario.id %}">
      <button>Apagar</button>
    </a>
</div>


{% endblock %}