{% extends 'artigos/layout.html' %}

{% block style %}
.rating-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.rating {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.rating-author a {
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
}

.rating-value {
    color: #333;
    font-size: 16px;
}

.new-rating-link {
    margin-top: 20px;
}

.new-rating-link a {
    display: inline-block;
    padding: 10px;
    color: #1c7ed6; /* Soft blue */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.new-rating-link a:hover {
    color: #1565c0; /* Darker blue on hover */
}

.new-rating-link svg {
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .rating-list {
        padding: 10px;
    }

    .rating {
        padding: 10px;
    }

    .rating-author a, .rating-value {
        font-size: 14px;
    }

    .new-rating-link a {
        padding: 5px;
    }

    .new-rating-link svg {
        width: 16px;
        height: 16px;
    }
}
{% endblock %}

{% block additional_links %}
  <a href="{% url 'artigos:artigoDetails' artigo_id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -4 24 24" width="24" height="24">
        <path d="M19 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H19v-2z"/>
    </svg></a>
{% endblock %}

{% block content %}
<div class="rating-list">
    <h3>{{ Ratings }}</h3>
    <ul>
        {% for rating in ratings %}
        <li class="rating">
            <div>
                <a href="{% url 'artigos:user' rating.user_rating.username %}" class="rating-author">{{ rating.user_rating.username }}:</a>
                <a href="{% url 'artigos:ratingDetail' rating.id %}" class="rating-value">{{ rating.nota }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="new-rating-link">
        <a href="{% url 'artigos:novo_rating' artigo_id %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 440">
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
            Novo Rating
        </a>
    </div>
</div>
{% endblock %}
